@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  height: 32%;
  background-color: rgba(1, 0, 44, 0.8);
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  margin-top: 1%;
  padding: 0;
  top: 0;
  margin-bottom: 2%;
}
form {
  width: 90%;
  padding: 1%;
  border: 8px solid rgb(1, 0, 44);
  border-radius: 5px;
  margin-right: 4%;
  margin-left: 4%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  box-shadow: -1px 0px 42px 0px rgba(0, 0, 0, 1);
}
span {
  opacity: 0;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 1%;
  border-radius: 15px;
  border: 8px solid rgb(1, 0, 44);
  border-radius: 5px;
}
legend {
  font-size: 20px;
}
.IP input {
  width: 100%;
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgb(1, 0, 44);
  border-radius: 5px;
  line-height: 35px;
}
.IP {
  height: 400px;
}
button {
  height: 30px;
  border: 1px solid rgb(1, 0, 44);
  background-color: rgb(1, 0, 44);
  color: white;
}
